[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "==3.4.1"
# TODO: pin a version
ghp-import = "==2.1.0"
pelican = "==4.8.0"
mistune = "==2.0.3"
gitpython = "*"
jinja2 = "==3.0"
pelican-render-math = "==1.0.3"

[dev-packages]

[requires]
python_version = "3.7"
